[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = '3.8'

[packages]
pytz = "*"
uwsgi = "*"
django-cors-headers = "3.2.1"
django-environ = "0.4.5"
django = "3.0.7"
psycopg2-binary = "2.8.4"
djangorestframework = "*"
django-filter = "*"
django-storages = {extras = ["boto3"], version = "*"}


[dev-packages]
ipdb = "0.11"
pytest-pep8 = "*"
pytest-cov = "2.6"
responses = "*"
mock = "*"
pytest-mock = "*"
pytest-django = "*"
safety = "1.8"
pytest = "*"
pylint = "2.5.0"
bandit = "1.5"
pytest-flake8 = "1.0"

